@charset "utf-8";
/* CSS Document */


/*  Kalathi agoron
*/

#basketTable td, #basketTable th {
    padding: 0.5em;
}

#basketTable {
    width:95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:2em;
}

#basketTable a{
	color:#333333;
	text-decoration:none;
}

#basketTable a:hover,#basketTable a:focus{
	text-decoration:underline;
}

#basketHeaderRow th{
    text-align: center;
    background-color: #9BC4E2;
    border: 1px solid #5C86A5;
}

.basketProductsRow td{
    text-align: center;
    border-left: 1px solid #5C86A5;
    border-right: 1px solid #5C86A5;
    border-bottom: 1px solid #5C86A5;
}

.basketProductsRow img{
    display: block;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
}

.product_quantity {
    width: 2em;
	text-align:center;
}

.basketSumRow{
	background-color:#ebf2f8;
	text-align: right;
	border-left: 1px solid #5C86A5;
    border-right: 1px solid #5C86A5;
   
}

#basketlast{
	border-bottom:	1px solid #5C86A5;
}

.basketFinalPrices{
	text-align:left !important;
	padding-left:3.4em !important;
}

#basket1next, #basket1back{
	float:right;
	margin-right:1em;
}

#basket1next{
	margin-right:1.5em;
}

.nounderline{
	text-decoration:none!important;
}

.cart h3{
	margin-left:1.5em;
	color:#333333;
}