@charset "utf-8";
/* CSS Document */


#bookCharacteristics {
    overflow: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.BVcover {
    float: left;
    padding: 1em;
}


#specifics {
    display: inline-block;
    margin-top: 1em;
    font-size: 1.2em;
}




.BVtitle a{
	text-decoration:none;
	color:#ad0101;	
	font-weight: bold;
        margin-top: 1em;
}

.BVtitle a:hover{
	text-decoration:underline;
	color: #ad0101;	
}

.BVauthor{
	display:block;
	font-size:0.9em;
}

.BVpublication{
	display:block;
	margin-top: 1.5em;
}
.BVyear{
	display:block;
}

.BVisbn{
	display:block;
}

.BVprice{
	display:block;
}

.BVprice span{
	font-size:1.2em;
	font-weight:bold;
}

.BVaddToCart{
	display:block;
	margin-top: 1.5em;
}

.BVaddToCart a{
	text-decoration:none;
	color:#333333;
	font-weight:bold;
}

.BVaddToCart a:hover{
	text-decoration:underline;
}






/*  Description column
*/


#bookDescription {
    clear: both;
    margin-top: 0.5em;
}

#bookDescription h2{
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    padding-bottom: 0.2em;
    border-bottom:1px solid #333333;
}

#bookDescription p{
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}



/*  Book suggestions column
*/
#bookSuggestions {
    margin-top: 1em;
    padding-bottom: 1.5em;
    overflow: auto;
}

#bookSuggestions h2{
    margin-top:0;
    padding:0.2em;
    margin-right: 0.5em;
    border-bottom:3px double #333333;
}

.bookSuggestView {
    overflow: auto;
    width: 100%;
}

.bookSuggestView img{
    width: 40%;
    margin-top: 0.7em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
}







/*  Costumer comments column
*/

#bookComments {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#bookComments h2{
    clear: both;
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    border-bottom:1px solid #333333;
}

#comment {
    border-bottom: 1px dashed black;
    padding-bottom: 1em;
    margin-top: 0.2em;
}

#LASTcomment {
    padding-bottom: 1em;
    margin-top: 0.2em;
}


.comUsername {
    display: inline-block;
    font-size: 1.2em;
    color: red;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 1em;
}

.comRatting{
    float: right;
    font-weight: bold;
    margin-top: 0.5em;
    margin-right: 1em;
}



.comText {
    display: block;
    text-align: justify;
    margin-right: 1em;
    margin-left: 1em;
}






/*  New comment field
*/

#newComment {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#newComment h2{
    clear: both;
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    border-bottom:1px solid #333333;
}

#newComment fieldset {
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
}

#newComment label {
    clear: both;
    display: block;
    float: left;
}

#comments_name {
    display: block;
    width:  70%; 
    margin-bottom:5px;
    float: right;
    border: 1px solid #333333;
}

#comment_email {
    display: block;
    width: 70%;
    margin-bottom:5px;
    float: right;
    border: 1px solid #333333;
}

#comment_text {
    display: block;
    width: 70%;
    height: 10em;
    resize: none;
    margin-bottom:5px;
    float: right;
    border: 1px solid #333333;
}




#comment_reset {
    display: inline-block ;
    width:auto; 
    margin-top: 1em;
    margin-bottom:5px;
    margin-right: 3em;
    float: right;
}


#comment_submit {
    font-weight: bold;
    clear: both;
    display: inline-block ;
    width:auto; 
    margin-top: 1em;
    margin-bottom:5px;
    float: right;
}




/*  Categories
*/

#bookCategories {
    margin-top: 1em;
    padding-bottom: 1.5em;
    overflow: auto;
}

#bookCategories h2{
    margin-top:0;
    padding:0.2em;
    margin-right: 0.5em;
    border-bottom:3px double #333333;
}

#bookCategories ul{
    list-style: none;
    padding-left: 2.5em;
}

#bookCategories li a{
    text-decoration:none;
    font-size: 1.2em;
    color: #333333;    
}

#bookCategories li a:hover{
    border-bottom: 1px solid #333333;
}

#activeCatMenu {
    list-style-image: url("pics/list-arrow.gif");
    font-size: 1.2em;
    color: #ad0101 !important;
}