@charset "utf-8";
/* CSS Document */

body {	
    font-family: Verdana, Geneva, sans-serif;
	font-size:0.8em;
    background: #fff;
	text-align: left;
	color: #333333;
	text-decoration:none;
}

#wrapper{
	width: 930px;
	margin: 0 auto;
	overflow:auto;
}




#OCbooks {
    
    border: 1px solid black;
    
}

#bookConfirmation {
    width: 100%;
    overflow: auto;
    border-bottom: 1px dashed black;
}

#LASTbookConfirmation {
    width: 100%;
    overflow: auto;
}


.OCcover {
    width: 12%;
    display: block;
    float: left;
    margin: 1em; 
}

.OCtitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
}


.OCauthor{
    display: block;
    margin-top: 0.4em;
    margin-bottom: 2em;
}

.OCpublication{
    display: block;
    margin-top: 0.4em;
}
.OCyear{
    display: block;
    margin-top: 0.4em;
}

.OCisbn{
    display: block;
    margin-top: 0.4em;
}

.OCprice{
    display: block;
    margin-top: 0.4em;
}

.OCprice span{
    font-weight: bold;
}
