@charset "utf-8";
/* CSS Document */

body {	
    font-family: Verdana, Geneva, sans-serif;
    font-size:0.8em;
    background: #fff;
    text-align: left;
    color: #333333;
    text-decoration:none;
}

img{
    border:1px solid transparent;
}

.bold {
    font-weight: bold;
}

.red{

    color:red;
}

.clear{
    clear:both !important;
}

select:focus,input[type=checkbox]:focus + label, input[type=radio]:focus + label,input:focus, textarea:focus{
    border: 1px solid red !important;
    background-color: rgb(255, 255, 128) !important;
    color: rgb(0, 0, 0) !important;
}

a:hover img, a:focus img { 
    border: 1px solid blue !important;
}

a:focus{
    text-decoration:underline !important;
}

.hidden, #hidden { 
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

#wrapper{
    max-width: 1014px;
    min-width: 900px;
    margin: 0 auto;
    overflow:auto;
}

.gototop{
	float:right !important;
	color:#333333;
}
/* Header menu partition
*/

#header{
    width:100%;
    height: 8em;
    background-color:#fff;
    margin-top:0;
}
#sitemap{
    display:block;
    float:right;
	
}

#sitemap a{
    color:#333333;
    font-weight:bold;
    text-decoration:none !important;
}

#sitemap a:hover{
    text-decoration:underline !important;
}
#sitemap img{
    width:1.5em;
    position:relative;
    top:0.3em;
}

#logo{
    display: inline-block;	
}

#logo a:hover img{
    border:1px solid transparent !important;
}

#search{
    clear:both;
    float: right;
	
    margin-top: 3em;
	display:block;
}

#search fieldset {
    border:none;
	padding-right:0;
	
}

#search label{
    position: absolute;
    left: -10000px;
    top: auto;
    overflow:hidden;
}


#searchField{
    height: 1.5em;
    width: 15em;
    border:1px solid #333333;
}

#searchButton {
    height: 2em;
	margin-right:0;
}


#search a{
    float:right;
    display: block;
    margin-top: 0.2em;
    text-decoration:none;
    color:#333333;
}

#search a:hover{
    text-decoration:underline;
}




/* Main menu partition
*/

#mainmenu{
    margin-top:2em;
    width: 100%;
    background-color: #333333;
    border-bottom:0.2em solid #ad0101;
}

#ul_main_menu{
    margin:0;
    padding:0.8em 0em 0.8em 4.5em;
    list-style-type:none;
}

#ul_main_menu li{
    display:inline;
    padding-right:0.8em;
}
#ul_main_menu li a{
    text-decoration:none;
    font-size: 1.4em;
    color: #ffffff;
}

#ul_main_menu li a:hover{
    text-decoration:underline;
}


#activeMainMenu{
    padding: 0.6em;
    background-color: #fff;

    text-decoration:none;
    font-size: 1.4em;
    color:#333333;
}

/* Sub menu partition
*/
#submenu{

    width:100%;
    height: 1.2em;
    background-color: #fff;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    display: inline-block;
}

#path {	
    padding-left: 0.4em;
    float: left;
    color: #000;
}

#path a{
    text-decoration:none;
    color:#333333;
    font-weight:bold;
}

#basket{
    float: right;

}
#basket a{
    color:#333333;
    text-decoration: none;
    color: #333333;
    margin-right: 0.4em;
}
#basket img{
    width:1.2em;
}

#basket img:hover{
    border:1px solid transparent !important;
}

#submenu a:hover{
    text-decoration:underline;
}

#basket span{
    font-weight: bold;
}


/*  Main partition
*/

#main{
    clear: both;
    margin-top:0.5em;
    overflow:auto;
}

/*  Left column partition
*/
.leftcolumn{

    width:19%;
    border-right:1px solid #333333;
    float:left;
}


/*  Main column partition
*/
#maincolumn{
    float:right;
    width:80%;
}

#maincolumn h2{
    margin-top:0;
    padding:0.2em;
    border-bottom:3px double #333333;

}

#maincoltop h2{
    margin-top:0;
    padding:0.2em;
    border-bottom:3px double #333333;

}

#maincolbottom{
    clear:both;
}
#maincolbottom h2{
    padding:0.2em;
    border-bottom:3px double #333333;

}


/*  Footer partition
*/
#footer{
    clear:both;
    margin-top:0.4em;
    width: 100%;
    background-color: #333333;
    border-top:0.2em solid #ad0101;
    color: #cccccc;
    height:auto;
    overflow: auto;
}

#validators{
    margin-right:0.8em;
}
#validators span{
    font-style: italic;
    float: right;
}

.valid_images {
    clear:both;
    float: right;
}





/* Books preview
*/

.booksline {
    overflow: auto;
    height: auto;
}

.bookpreview{

    border:1px solid #333333;
    width: 31.5%;
    margin:0.5em;
    float:left;
}

.bookpreview img{
    width:8em;
    height:12em;
    float:left;
    margin-right:0.2em;
}

.title a{
    text-decoration:none;
    color:#ad0101;	
    font-weight: bold;
}

.title a:hover{
    text-decoration:underline;
    color:#ad0101;	
}

.author{
    display:block;
    font-size:0.9em;
}

.publication{
    display:block;
    margin-top: 1.5em;
}

.isbn{
    display:block;
}

.price{
    display:block;
}

.price span{
    font-size:1.2em;
    font-weight:bold;
}

.addToCart{
    display:block;
    margin-top: 1.5em;
}

.addToCart a{
    text-decoration:none;
    color:#333333;
    font-weight:bold;
}

.addToCart a:hover{
    text-decoration:underline;
}







#epikoinonia h2 , #deiteEpisis h2 , #bestSeller h2{
    margin-top:0;
    padding:0.2em;
    margin-right: 0.5em;
    border-bottom:3px double #333333;
}

#epikoinonia p , #deiteEpisis p , #bestSeller p{
    margin-top:0;
}

.bestbooksline {
    overflow: auto;
    width: 100%;
}

.bestSellerBookpreview img{
    width: 40%;
    margin-top: 0.7em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
}

#writer h2{
    padding:0.2em;
    margin-right: 0.5em;
    border-bottom:3px double #333333;
}

#writer p{
    text-align: justify;
    padding-right: 1em;
}

#writer img{
    width: 5em;
    float: left;
    margin-right: 0.7em;
}

#writer a{
    text-decoration:none;
    color:#333333;
    float: right;
    padding-right: 1em;
    font-weight: bold;
}

#writer a:hover{
    text-decoration:underline;
}

.resultbox{
    border-bottom:1px dashed #333333;
    width:96%;
    padding:1em;
    overflow:auto;
}

.resultbox img{
    width: 6em;
    display:block;
    margin-right:0.5em;
    float:left;
}

.resultinsideleft{
    float:left;
    width:30%;
}

.resultbox p{
    width:68%;
    float:right;
    text-align: justify;
}

.rbottom{
    float:right;
}

.rbottom a{
    text-decoration:none;
    color:#333333;
    font-weight:bold;
}

.rbottom a:hover{
    text-decoration:underline;
}

.resultstop{
    width:98%;
    border:1px solid #333333;
    background-color:#d2cdc7;
    padding:0.3em;
    margin-bottom:0.5em;
    overflow:auto;
}

#bold{
    font-weight:bold;
}

#found{
    float:left;
    padding-top:0.3em;
}
#sortform{
    float:right;
}

#sortform fieldset {
    border-style: none;
    padding-top: 0.3em;
    padding-bottom: 0;
}

#sort{
    border:1px solid #333333;
}

#resultsbottom{
    margin: 2em 0;
}

#resultsbottom a{
    margin:0.2em;
    text-decoration:none;
    color:#333333;
    font-weight:bold;
}

#resultsbottom a:hover{
    text-decoration:underline;
}

#detailedsearchform{
    margin:3em 0;
}
#detailedsearchform fieldset{
    padding:1em 2em;
}

#detailedsearchform legend{
    font-weight:bold;
}

#detailedsearchform label{
    clear:both;
    display: block;
    float: left;
}

#detailedsearchform p{
    clear:both;
    float:left;
    margin-bottom:3em;
}

#fterms,#fauthor,#fpublisher,#fisbn,#ftitle{
    display: block;
    width:  70%; 
    margin-bottom:1em;
    float: right;
    border: 1px solid #333333;
}
#category,#book_year{
    display: block;
    width:  30%; 
    margin-bottom:1em;
    float: right;
    border: 1px solid #333333;
}

#detailedsearchButton{
    clear:both;
    display:block;
    float:right;
}

#detailedsearchreset{
    margin-right:1em;
    float:right;
}

.errorsearchform{
    width:auto;
    border:1px dotted #333333;
    background-color:#e2f4fe;
}

.errorsearchform img{
    width:3em;
    display:block;
    float:left;
    margin-top:1em;
    margin-left:1em;
}

.errors{
    display:block;
    margin-left:5em;
    margin-bottom:1em;
}

.errors ol>li{
    margin-bottom:0.3em;
}
.errorsbottom{
    padding:1.5em;
}

.errorsbottom a:hover{
    text-decoration:underline !important;
}
/* ==================================================================================================================*/
/* ===========================  START - Added by chris at Tue Oct 25 15:43:59 EEST 2011 =============================*/


#bookCharacteristics {
    overflow: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.BVcover {
    float: left;
    padding: 1em;
    margin-right: 1em;
}


#specifics {
    display: inline-block;
    margin-top: 1em;
    font-size: 1.2em;
}




.BVtitle {
    text-decoration:none;
    color:#333333;	
    font-weight: bold;
    margin-top: 1em;
    font-size: 1.2em;
}


.BVauthor{
    display:block;
    font-size:0.9em;
}

.BVpublication{
    display:block;
    margin-top: 1.5em;
}
.BVyear{
    display:block;
}

.BVisbn{
    display:block;
}

.BVprice{
    display:block;
}

.BVprice span{
    font-size:1.1em;
    font-weight:bold;
}

.BVaddToCart{
    display:block;
    margin-top: 1.5em;
}

.BVaddToCart a{
    text-decoration:none;
    color:#333333;
    font-weight:bold;
}

.BVaddToCart a:hover{
    text-decoration:underline;
}






/*  Description column
*/


#bookDescription {
    clear: both;
    margin-top: 0.5em;
}

#bookDescription h2{
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    padding-bottom: 0.2em;
    border-bottom:1px solid #333333;
}

#bookDescription p{
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}



/*  Book suggestions column
*/
#bookSuggestions {
    margin-top: 1em;
    padding-bottom: 1.5em;
    overflow: auto;
}

#bookSuggestions h2{
    margin-top:0;
    padding:0.2em;
    margin-right: 0.5em;
    border-bottom:3px double #333333;
}

.bookSuggestView {
    overflow: auto;
    width: 100%;
}

.bookSuggestView img{
    width: 40%;
    margin-top: 0.7em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
}







/*  Costumer comments column
*/

#bookComments {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#bookComments h2{
    clear: both;
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    border-bottom:1px solid #333333;
}

.comment {
    border-bottom: 1px dashed black;
    padding-bottom: 1em;
    margin-top: 0.2em;
}

#LASTcomment {
    padding-bottom: 1em;
    margin-top: 0.2em;
}


.comUsername {
    display: inline-block;
    font-size: 1.2em;
    color: red;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 1em;
}

.comRatting{
    float: right;
    font-weight: bold;
    margin-top: 0.5em;
    margin-right: 1em;
}



.comText {
    display: block;
    text-align: justify;
    margin-right: 1em;
    margin-left: 1em;
}






/*  New comment field
*/

#newComment {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#newComment h2{
    clear: both;
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    border-bottom:1px solid #333333;
}

#newComment fieldset {
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
}

#newComment label {
    clear: both;
    display: block;
    float: left;
}

#comment_name {
    display: block;
    width:  70%; 
    margin-bottom:0.6em;
    float: right;
    border: 1px solid #333333;
}

#comment_email {
    display: block;
    width: 70%;
    margin-bottom:0.6em;
    float: right;
    border: 1px solid #333333;
}

#comment_text {
    display: block;
    width: 70%;
    height: 10em;
    max-height: 10em;
    max-width: 70%;
    margin-bottom:1.6em;
    float: right;
    border: 1px solid #333333;
}

#comment_ratting {
    display: block;
    width: 10%;
    margin-bottom:0.6em;
    margin-left: 2em;
    float: left;
    border: 1px solid #333333;
}

#comment_reset {
    display: inline-block ;
    width:auto; 
    margin-top: 1em;
    margin-bottom:0.6em;
    margin-right: 3em;
    float: right;
}


#comment_submit {
    font-weight: bold;
    clear: both;
    display: inline-block ;
    width:auto; 
    margin-top: 1em;
    margin-bottom:0.6em;
    float: right;
}

/* Error in new comment
*/

#errorCommentform{
    width:auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border:1px dotted #333333;
    background-color:#e2f4fe;
}

#errorCommentform img{
    width:3em;
    display:block;
    float:left;
    margin-top:1em;
    margin-left:1em;
}

#commentErrors{
    display:block;
    margin-left:5em;
}

#commentErrors ol>li{
    margin-bottom:0.3em;
}



/*  Categories
*/

#bookCategories {
    margin-top: 1em;
    padding-bottom: 1.5em;
    overflow: auto;
}

#bookCategories h2{
    margin-top:0;
    padding:0.2em;
    margin-right: 0.5em;
    border-bottom:3px double #333333;
}

#bookCategories ul{
    list-style: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 0.5em;
}

#bookCategories li{
    height: 2em;
    padding-top: 0.5em;
    border-bottom: 1px dotted #ad0101;
}

#bookCategories li a{
    display: block;
    text-decoration:none;
    font-size: 1.2em;
    color: #333333;
    font-weight: bold;
}

#bookCategories li:hover,#bookCategories li a:hover,#bookCategories li:focus,#bookCategories li a:focus{
    background-color:#ece1e1;
    text-decoration: underline;
}

#bookCategories a:focus{
	text-decoration: underline!important;
}

#bookCategories a{
    text-decoration:none !important;
}

#activeCatMenu{
    font-size: 1em;
    font-weight: bold;
    padding-top: 0.5em !important;
    background-color: #ece1e1 !important;
    color: #ad0101 !important;
    text-decoration: none !important;
}

#activeCatMenu a{
	color: #ad0101 !important;
	padding-left:0.5em;
}

#firstCatMenu {
    border-top: 1px dotted #ad0101;

}






/*  Book image view
*/

#bookImageView {
    overflow: auto;
}

#bookImageView h2{
    display: block;
    margin-top:0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
    padding-bottom: 0.2em;
    border-bottom:1px solid #333333;
}

#bookImageView h2 > span{
    font-size: 0.8em;
}

#bookImageView img{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}

#bookImageView a{
    clear: both;
    display: block;
    float: left;
    text-decoration:none;
    font-size: 1.2em;
    color: #333333;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-bottom: 1px solid transparent;
}

#bookImageView a:hover{
    border-bottom: 1px solid #333333;
}


/* ===========================  START - Added by chris at Tue Oct 25 15:43:59 EEST 2011 =============================*/
/* ==================================================================================================================*/






/*  Kalathi agoron
*/

#basketTable td, #basketTable th {
    padding: 0.5em;
}

#basketTable {
    width:95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2em;
}

#basketTable a{
    color:#333333;
    text-decoration:none;
}

#basketTable a:hover,#basketTable a:focus{
    text-decoration:underline;
}

#basketHeaderRow th{
    text-align: center;
    background-color: #9BC4E2;
    border: 1px solid #5C86A5;
}

.basketProductsRow td{
    text-align: center;
    border-left: 1px solid #5C86A5;
    border-right: 1px solid #5C86A5;
    border-bottom: 1px solid #5C86A5;
}

.basketProductsRow img{
    display: block;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
}

.product_quantity {
    width: 2em;
    text-align:center;
}

.basketSumRow{
    background-color:#ebf2f8;
    text-align: right;
    border-left: 1px solid #5C86A5;
    border-right: 1px solid #5C86A5;

}

#basketlast{
    border-bottom:	1px solid #5C86A5;
}

.basketFinalPrices{
    text-align:left !important;
    padding-left:3.4em !important;
}

#basket1next, #basket1back{
    float:right;
    margin-right:1em;
}

#basket1next{
    margin-right:1.5em;
}

.nounderline{
    text-decoration:none!important;
}

.cart h3{
    margin-left:1.5em;
    color:#333333;
}

.cart fieldset {
    border-style: none;
}




/*  Basket3
*/
#basket3{
    margin-bottom:6em;
}

#basket3 h3{
    margin-left:1.5em;
    color:#333333;
} 

#basket3 p{
    margin-left:1em;
}

#basket3 legend{
    font-weight:bold;
}

#basket3 fieldset{
    padding-top:1em;
    padding-bottom:1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom:1em;
    width: auto;
}

#bsk3MainField{
    border-style: none;
}


.leftbasket3{
    width:50%;
    float:left;
    display:block;
}

.rightbasket3{
    width:50%;
    float:right;
    display:block;
}

.rightbasket3 label{
    padding-left:2em;
}

.rightbasket3 label, .leftbasket3 label{
    float:left;
    display:block;
    clear:both;
}

.rightbasket3 input, .leftbasket3 input{
    float:right;
    width:50%;
    margin-bottom:1em;
    border:1px solid #333333;
}

.rightbasket3 select{
    float:right;
    width:30%;
    margin-bottom:1em;
    margin-right:5em;
    border:1px solid #333333;

}

.rightbasket3 img{
    clear:both;
    float:left;
    width:8em;
    padding-left: 2em;
}

#paytop{
    margin-bottom:2em;
}




/*================================= start SITEMAP ================================*/

#sitemapBody {
    width: 90%;
}

/*================================= end SITEMAP ================================*/












